<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects Simplified</title>
    <link rel = "stylesheet" href = "style.css">
</head>
<body>
    <%- include('includes/nav') %>
    

    <div class = "BOX">
        <h1>About Page</h1>
        <h3 class = "aboutme">A Little Bit About Me</h3>
        <div class = "aboutbox1">
            <a href = "mailto:pearcepackman@gmail.com">
            <img class = "profpic" src = "Screenshot 2025-03-21 at 1.14.01 PM.png" width = "130" height = "130">
            </a>
            <p>Hello, my name is Pearce! I am the creator of Projects Simplified. I am currently a student at UMBC earning my B.S. Computer Science.
                I made this website with the goal of showing off my frontend and backend development skills.
                I've been learning web development since Janurary of 2025 so I'm fairly new to it. If you have any
                questions or would like to reach out to me, send me an email at pearcepackman@gmail.com!
            </p>
        </div>
        <div class = "aboutbox2">
            <div class = "gallerysection">
                <img class = "img1" src = "sql.png" width = "130" height = "130">
                <img class = "img2" src = "express-js.png" width = "130" height = "130">
                <img class = "img3" src = "nodejs.webp" width = "130" height = "130">

            </div>
            <h3>Backend Development</h3><br>
            <div class = "aboutbox2desc">
            <p>As discussed above, this is my first time implementing a backend on a website.
                Node.JS was used to create the backend and Express.JS was used to develop the middleware
                , handle different routes, and implement a RESTful API. A SQL was also implemented
                to handle users, projects, and tasks.
            </p>
            </div>
            
        </div>
        <div class = "aboutbox3">
            <div class = "gallerysection">
                <img class = "img4" src = "html.png" width = "100" height = "130">
                <img class = "img5" src = "csslogo.png" width = "100" height = "130">
                <img class = "img6" src = "javascript.png" width = "100" height = "130">

            </div>
            <h3>Frontend Development</h3><br>
            <div class = "aboutbox2desc">
            <p>The frontend of this website was primarily built using Express.JS views which have
                similar syntax rules to HTML. I've also used a CSS file to transform the look of the website
                and add more interactivity. Additionally, JavaScript was used to enhance the user experience
                by handling dynamic behaviors.
                
            </p>
            </div>
            
        </div>
    </div>
</body>
</html>