<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects Simplified</title>
    <link rel = "stylesheet" href = "style.css">
</head>
<body>
    <%- include('includes/nav') %>
    

    <div class = "BOX">
        <h1>Create a Project</h1>
        <% errors.forEach(error => { %>
            <p class ="notice"><%= error %></p>
       <% }) %>
        <form action = "/createproject" method = "POST">
            <h4 for = "projectitle" class = "formlabel">Project Title</h4>
            <input type = "text" id = "projectitle" name = "projectitle" autocomplete="off" class = "forminput">
            
            <h4 for = "projectdesc" class = "formlabel">Project Description</h4>
            <input type = "text" id = "projectdesc" name = "projectdesc" class = "forminput" autocomplete="off"><br>
            <button class = "createbutton">Create Project</button>
    </div>
</body>
</html>