<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects Simplified</title>
    <link rel = "stylesheet" href = "style.css">
</head>
<body>
    <%- include('includes/nav') %>
    

    <div class="BOX">
        <h1>Features Page</h1>
        <h3 class="aboutme">Feature List</h3>
    
        <div class="featurebox1">
            <div class="numbercircle">
                <h3>1</h3>
            </div>
            <div class="featureboxdesc">
                <h4>User Authentication</h4>
                <p>The user authentication system provides progress saving and consistency
                    throughout projects.
                </p>
            </div>
        </div>
    
        <div class="featurebox1">
            <div class="numbercircle">
                <h3>2</h3>
            </div>
            <div class="featureboxdesc">
                <h4>The Card System, Easy Project and Task Management</h4>
                <p>The card system is simple, intuitive, and reliable. Allowing easy
                    and simplified project management.
                </p>
            </div>
        </div>
        <div class="featurebox1">
            <div class="numbercircle">
                <h3>3</h3>
            </div>
            <div class="featureboxdesc">
                <h4>Easy Creating, Updating, Completing, and Deleting</h4>
                <p>Every card has an option for creating, editing, completing, and deleting.
                    Nothing overcomplicated about this design.
                </p>
            </div>
        </div>
        
    
    </div>
    
</body>
</html>