<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects Simplified</title>
    <link rel = "stylesheet" href = "style.css">
</head>
<body>
    <%- include('includes/nav') %>
    

    <div class = "HOMEBOX">
        <h1>Welcome to Projects Simplified!</h1>
        <h3>Developed by Pearce Packman</h3><br>
        <h4>Manage Projects Like Never Before!</h4>
        
        <div class = "homepagebox">
            
            <div class = "homepagebox1">
                <img class = "img2" src = "easy-to-use.png" width = "140" height = "140">
                <p>Projects Simplified makes project management easy! Originally
                    created to help keep track of school assignments, this website can help
                    keep track of any projects you may have. Whether you're managing school
                    assignments, work projects, or personal tasks, Projects Simplified 
                    keeps everything in one place. 
                </p>
            </div>
            
        </div>
        <h4>The Card System: Simple and Easy</h4>
        <div class = "homepagebox">
            <div class = "homepagebox1">
                <img class = "img2" src = "cardshot.png" width = "140" height = "225">
                <p> With the card system, 
                    project management is simple and intuitive. Every card can be created,
                    edited, deleted, and completed as tasks and projects get done. The card system manages
                    your projects effortlessly, keeping your work efficient. Complete with a login
                    system, your projects are always saved so you can take them anywhere you go!
                </p>
            </div>
        </div>
        <br>
        <a href="/signup" style="text-decoration: none;" class = "createbutton">Get Started Today!<a>
            <br>
        
        
    </div>
</body>
</html>