<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects Simplified</title>
    <link rel = "stylesheet" href = "style.css">
</head>
<body>
    <%- include('includes/nav') %>
    

    <div class = "BOX">
        <h1>Let's Get Started</h1>
        <h2>Create an Account</h2>
        <form>
            <h4 class = "formlabel">Username</h4>
        </form>
    </div>
</body>
</html>