<header>
    <div class = "logo">
        <h1>PS</h1>
    </div>
    <div class = "logodesc">
        <h5>Projects Simplified</h5>
    </div>
    <div class = "options">
        <a class = "OptionFeature">Features</a>
        <a href = "/" class = "OptionHome">Home</a>
        <a href = "/about" class = "OptionAbout" style="text-decoration:none;">About</a>
        
    </div>
    <a class = "Login">Login</a>
    <a href = "/signup" class = "GetStarted">Get Started</a>
    
    
</header>